{% load static %}
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{% static 'kiosk/style.css' %}">
</head>
<body>
  <header>
    <h1>Menu List</h1>
  </header>
  <div id ="wrap">
    <section>
    {% for menu in menus %}
    <div class="card">
        <img id = "card_img" src="{{menu.image.url}}" class="card_img_top" alt="{{menu.image}}">
        <div class="card-body">
          <h5 class="card-title"><a href="{% url 'kiosk:menu_detail' menu.slug %}">{{menu.name}}</a>
          <p class="card-text">explanation</p>
          <p class="card-price">{{menu.price}}원</p>
        </div>
    </div>
    {% endfor %}
  </section>
  <footer>
  <div>
      <span>
          <p id = "page">{% if page_obj.has_previous %}
          <a href="?page={{page_obj.previous_page_number}}">이전</a>
          {% endif %}

          {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}

          {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">다음</a>
          {% endif %}</p>
      </span>
  </div>
  </footer>
  </div>
  </body>
</html>
